main{
    background-color: var(--itens-background);
    border-radius: 10px;
    padding: 32px;
    display: flex;
    gap: 24px;
}

/* IMAGE UPLOAD CONTAINER */
.img_upload_container button{
    margin: 1rem 0 0.5rem 0;
    background-color: var(--itens-background);
    border: 1px solid var(--segundary-color);
    border-radius: 8px;
    color: var(--segundary-color);
    width: 100%;
    padding: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.125rem;
    position: relative;
}
.img_container{
    height: auto;
    padding: 24px 16px;
    background-color: var(--segundary-color);
    border-radius: 8px;
}
.main_img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img_name_container{
    display: flex;
    gap: 8px;
    color: var(--segundary-color);
    font-size: 15px;
}

/* DESCRIPTION CONTAINER */
.description_container{
    width: 50%;
}
h2{
    font-size: 1.625rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
form div label{
    font-size: 1.125rem;
    display: block;
    margin-bottom: 8px;
}
form div input, textarea {
    padding: 8px 16px;
    background-color: var(--segundary-color);
    border: none;
    border-radius: 4px;
    font-family: var(--font-family);
    line-height: 22.5px;
    width: 100%;
}
form div input {
    height: 2.5rem;
}
textarea{
    height: 10rem;
}

/* TAGS */
.tag_list{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.tag_list li{
    display: flex;
    background-color: var(--segundary-color);
    color: var(--background-color);
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
}

/* BUTTONS */
.img_upload_container button::after, #delete::after, #public::after{
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}
.img_upload_container button::after{
    background-image: url('../img/upload.svg');
}
.buttons_container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.buttons_container button{
    width: 50%;
    padding: 12px 32px 12px 12px;
    text-align: center;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 500;
}
#delete{
    background-color: transparent;
    color: var(--primary-color);
    position: relative;
    border: 1px solid var(--primary-color);
}
#delete::after{
    background-image: url('../img/trash.svg');
}
#public{
    background-color: var(--primary-color);
    border: none;
    position: relative;
}
#public::after{
    background-image: url('../img/arrow_forward2.svg');
}

/* RESPONSIVENESS */

/* TABLET */
@media screen and (max-width:1000px) {
    main{
        flex-wrap: wrap;
        justify-content: center;
        background-color: transparent;
        padding-bottom: 10rem;
    }
    .img_upload_container{
        width: 100%;
    }
    .description_container{
        width: 100%;
    }
}