@import url('./header.css');
@import url('./aside.css');
@import url('./main.css');
@import url('./footer.css');

:root{
    --background-color:#00090E;
    --text-color:#E1E1E1;
    --primary-color:#81FE88;
    --segundary-color:#888888;
    --tag-color:#171D1F;
    --itens-background:#171D1F;
    --font-family: "Prompt", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;

    height: 100vh;
    gap: 27px;
    padding: 56px 0;
}

.hightlighted_link{
    border: 1px solid var(--primary-color);
    padding: 12px 30px;
    border-radius: 8px;
}
input:focus, textarea:focus{
    outline: 2px solid var(--primary-color);
    box-shadow: none;
}
@keyframes shake {
    0%{margin-right: 0px;}
    25%{margin-right: 50px}
    75%{margin-left: 50px; margin-right: 0px;}
    100%{ margin: 0 0;}

}
.error{
    color: red;
    font-size: 1rem;
    font-weight:300;
    text-align: center;
    animation: shake 0.1s 5;
}

/* RESPONSIVENESS */

/* TABLET */
@media screen and (max-width: 1000px) {
    body{
        flex-direction: column;
        justify-content: start;
        padding: 40px 60px;
    }
}

/* SMART PHONE */
@media screen and (max-width: 500px) {
    body{
        padding: 56px 0;
    }
}